body {
    background-color: #19479e;
}

.container {
    text-align: center;
}

h1 {
    text-align: center;
    color: white;
}

.btn-primary{
    width: 550px;
    background-color: #5da6e7;
}

img {
    width: 550px;
    height: 250px;
}
